{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
          </div>
        </div>
    </header>
</div>

<main class="container">
<div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Calculation templates for tax purposes</h1>
      <p class="lead my-3">Customer Valuation Template</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
  </div>
</main>


<main class="container">
<div class="table-responsive">
    <table class="table align-middle ml-3 col-md-6 table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                {% for x, y in sales.items %}
                <th>{{ x }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>Sales</td>
                {% for x, y in sales.items %}
                <td> {{ y }}</td>
                {% endfor %}
            </tr>  
            <tr class="active">  
                <td>Attributed revenue</td>
                {% for x, y in revenue.items %}
                <td> {{ y }}</td>
                {% endfor %}
            </tr>
            <tr class="active">  
                <td>Return attributed</td>
                {% for x, y in return.items %}
                <td> {{ y }}</td>
                {% endfor %}
            </tr>
            <tr class="active">  
                <td>Present value</td>
                {% for x, y in present.items %}
                <td> {{ y }}</td>
                {% endfor %}
            </tr>
            <tr class="active">  
                <td>Value distribution right</td>
                <td> {{ distr_rigth }}</td>
            </tr>
            <tr class="active">  
                <td>Tax amortization benefit</td>
                <td> {{ amortization }}</td>
            </tr>
            <tr class="active">  
                <td>Fair value</td>
                <td> {{ value }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="ml-3 mt-3">
    <a href="{% url 'export' %}" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto" type="submit">Export data</a>
</div>
</main>

<br>

{% endblock %}