{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
          </div>
        </div>
    </header>
</div>

<main class="container">
<div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Calculation templates for tax purposes</h1>
      <p class="lead my-3">Source of calculation templates for internal purposes only.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
  </div>
</main>

<main class="container">
<div class="card-deck">
    <div class="card ml-5 text-dark bg-light border-dark">
        <img class="card-img-top" src="../static/projects/images/Collaboration people 318 rgb.tif.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Customer Valuation</h5>
            <p class="card-text"> Simplify template to calculation customer value. Cannot be use to take a final decision. Should be consult with your supervisor.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto" type="submit" href="?precheck=1">Select</a>
        </div>
    </div>
    <div class="card text-dark bg-light border-dark">
        <img class="card-img-top" src="../static/projects/images/Getty-ID-88626898.jpg (1).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Work in progress</h5>
            <p class="card-text">...</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto" type="submit">Select</button>
        </div>
    </div>
    <div class="card mr-5 text-dark bg-light border-dark">
        <img class="card-img-top" src="../static/projects/images/AdobeStock-ID-282223409.jpg.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Work in progress</h5>
            <p class="card-text">...</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto" href="">Select</button>
        </div>
    </div>
</div>
</main>
<br>
{% endblock %}