{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
          </div>
        </div>
    </header>
</div>

<main class="container">
<div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Calculation templates for tax purposes</h1>
      <p class="lead my-3">Customer Valuation Template</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
  </div>
</main>

<main class="container">
<form class="ml-3" action="." method="POST"> {% csrf_token %}
    {{form.as_p}}
    
    <table class="table ml-3 col-md-6 table-sm table-striped table-bordered">
        <tbody>
            <tr class="active">
            <div class="form-group">    
                <td><label class="form-label">Confirm whether tax rate: {{tax_rate}} is correct  </label></td>
                <td><select class="form-select" name="taxrate_check">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select></td>
            </div>
            </tr>
            <td><button class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto" type="submit">Next</button></td>
        </tbody>
</table>
</form>
</main>
<br>

{% endblock %}