{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
          </div>
        </div>
    </header>
</div>

<main class="container">
<div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Calculation templates for tax purposes</h1>
      <p class="lead my-3">Customer Valuation Template</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
  </div>
</main>


<main class="container">
<form class="mt-2" action="." method="POST"> {% csrf_token %}
    {{form.as_p}}
    <table class="table ml-3 col-md-6 table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Value in USD</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td><label class="form-label">Provide annual sales value: </label></td>
                <td> <input class="form-input" type="number" placeholder="" name="sales_value" value="{{ request.POST.sales_value }}"></td>
            </tr>
            <tr class="active">
                <td><label class="form-label">Provide growth rate: </label></td>
                <td><input class="form-input" type="number" step="0.0001" placeholder=" example 0.10" name="growth_rate" value="{{ request.POST.growth_rate }}"></td>
            </tr>
            <tr class="active">
                <td><label class="form-label">Provide number of years for calculation: </label></td>
                <td><input class="form-input" type="number" placeholder=" example 10" name="years" value="{{ request.POST.years }}"></td>
            </tr>
            {% if check == 'no' %}
            <tr class="active">
                <td><label class="form-label">Provide number of customers at begining of period: </label></td>
                <td><input class="form-input" type="number" placeholder=" example 10" name="customer_begining" value="{{ request.POST.customer_begining }}"></td>
            </tr>
            <tr class="active">
                <td><label class="form-label">Provide number of customer at the end of period: </label></td>
                <td><input class="form-input" type="number" placeholder=" example 10" name="customer_end" value="{{ request.POST.customer_end }}" ></td>
            </tr>
            {% else %}
            <tr class="active">
                <td><label class="form-label">Provide erosion rate: </label></td>
                <td><input class="form-input" type="number" step="0.0001" placeholder=" example 0.10" name="erosion" value="{{ request.POST.erosion }}"></td>
            </tr>
            {% endif %}
            <tr class="active">
                <td><label class="form-label">Provide mark-up value: </label></td>
                <td><input class="form-input" type="number" step="0.0001" placeholder=" example 0.023" name="mrkup" value="{{ request.POST.mrkup }}"></td>
            </tr>

            {% if taxrate_check == 'no' %}
            <tr class="active">
                <td><label class="form-label">Provide tax rate in exit country: </label></td>
                <td><input class="form-input" type="number" step="0.0001" placeholder=" example 0.20" name="tax_rate" value="{{ request.POST.tax_rate }}"></td>
            </tr>
            {% endif %}

            <tr class="active">
                <td><label class="form-label">Provide discount rate, if you do not know DR enter 0.10: </label></td>
                <td><input class="form-input" type="number" step="0.0001" placeholder=" example 0.10" name="discounts" value="{{ request.POST.discounts }}"></td>
            </tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary input-group-btn btn-sm" value="Save">Calculate</button></td>
            </tr>
        </tbody>
    </table>
</form> 
</main>
<br>

{{ value }}

{% endblock %}
